rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // match /{document=**} {
    //   allow read, write;
    // }
    function approvedLevel (level) {
      return request.auth != null && request.auth.token.email_verified && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level <= level;
    }
    match /boards/{boardId} {
      allow read: if true;
      allow create: if approvedLevel(1);
      allow update: if approvedLevel(1) || resource.data.uid == request.auth.uid; 
      allow delete: if approvedLevel(1) || resource.data.uid == request.auth.uid; 
      match /articles/{articleId} {
        function incrementArticleCount (before, after) {
          return before.url == after.url &&
          before.createdAt == after.createdAt &&
          before.updatedAt == after.updatedAt &&
          before.title == after.title &&
          before.uid == after.uid &&
          before.important == after.important &&
          // before.level == after.level &&
          before.user.displayName == after.user.displayName &&
          before.user.photoURL == after.user.photoURL &&
          before.user.email == after.user.email &&
          (before.likeCount != after.likeCount || before.likeUids != after.likeUids || before.readCount != after.readCount) 
        }
        allow read: if true;
        allow create: if approvedLevel(1) || (approvedLevel(5) && request.resource.data.important == 0);
        allow update: if approvedLevel(1) || resource.data.uid == request.auth.uid || incrementArticleCount(resource.data, request.resource.data); 
        allow delete: if approvedLevel(1) || resource.data.uid == request.auth.uid; 
        match /comments/{commentId} {
          function incrementCommentCount (before, after) {
            return before.comment == after.comment &&
            before.createdAt == after.createdAt &&
            before.updatedAt == after.updatedAt &&
            before.uid == after.uid &&
            before.user.displayName == after.user.displayName &&
            before.user.photoURL == after.user.photoURL &&
            before.user.email == after.user.email &&
            (before.likeCount != after.likeCount || before.likeUids != after.likeUids) 
          }
          allow read: if true;
          allow create: if approvedLevel(5);
          allow update: if approvedLevel(1) || resource.data.uid == request.auth.uid || incrementCommentCount(resource.data, request.resource.data); 
          allow delete: if approvedLevel(1) || resource.data.uid == request.auth.uid; 
        }
      }
    }
    match /users/{userId} {
      allow read: if true; // if approvedLevel(1) || (request.auth != null && request.auth.uid == userId);
      allow update: if approvedLevel(1) || (request.auth != null && request.auth.uid == userId && resource.data.level == request.resource.data.level);
      allow create, delete: if false; // functions
    }
    match /tempFiles/{fileId} {
      allow read: if approvedLevel(1);
    }
    match /sitemapLogs/{logId} {
      allow read: if true;
    }
    match /meta/{id} {
      allow read: if true;
    }
    match /articles/{articleId} {
      allow read: if true;
    }
    match /comments/{commentId} {
      allow read: if true;
    }
    match /chats/{roomId} { // /messages/{messageId} {
      allow read: if approvedLevel(5) && (request.auth.uid in roomId.split('-') || request.auth.uid in resource.data.uids);
      allow write: if approvedLevel(5) && request.auth.uid in roomId.split('-');
      match /messages/{messageId} {
        allow read: if approvedLevel(5) && request.auth.uid in roomId.split('-');
        allow write: if approvedLevel(5) && request.auth.uid in roomId.split('-');
      }
    }
  }
}
