rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /boards {
      match /{boardId}/{articleId} {
        allow read: if true
        allow write: if request.auth != null
                    && articleId.split('-')[1] == request.auth.uid + '.md'
                    && request.resource != null
                    && (                      
                      request.resource.size < 5 * 1024 * 1024
                      && request.resource.contentType.matches('application/octet-stream')
                      && (resource == null || request.resource.contentType == resource.contentType)                      
                    )
                    // && articleId.size() == 16
      }
    }
  }
}
